In [145]:
import numpy as np
from pyspark.sql import SparkSession

In [7]:
spark = (SparkSession
            .builder
            .appName("Python Spark create RDD example")
            .config("spark.some.config.option", "some-value")
            .getOrCreate())

# 1. Concat Data

In [39]:
# Buat menjadi fungsi
def load_data(filename):
    """return spark dataframe"""
    df = spark.read.csv(filenames[1],
                        sep = ';',
                        header=True, 
                        inferSchema=True)

    return df

def data_shape(data):
    """return the number of rows & cols"""
    n_rows = data.count()
    n_cols = len(data.columns)

    return n_rows, n_cols

def read_data(filenames):
    """return the concated data"""
    # Read the first data
    df = load_data(filenames[0])
    print('Data shape:', data_shape(df))

    # concat the rest data
    for filename in filenames[1:]:
        # read
        df_i = load_data(filename)
        print('Data shape:', data_shape(df_i))

        # then join
        df = df.union(df_i)

    # Ekstrak hasil
    print('Successfully read')
    print('Data shape:', data_shape(df))

    return df

In [40]:
filenames = [
    'dataset/branch_B.csv',
    'dataset/branch_C.csv',
    'dataset/branch_D.csv'
]

final_df = read_data(filenames)

Data shape: (328, 17)
Data shape: (328, 17)
Data shape: (328, 17)
Successfully read
Data shape: (984, 17)

In [41]:
final_df.show(10)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date|               Time|Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-------+------+-----------------------+------------+------+
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|2023-10-08 10:29:00|   Cash|  76.4|            4.761904762|        3.82|   9.6|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|2023-10-08 18:30:00|Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|2023-10-08 11:38:00|Ewallet| 735.6|            4.761904762|       36.78|   8.0|
|300-71-4605|     C|Naypyitaw|       Member|  Male|Electronic access...|     86.04|       5|  21.51|  451.71|2/25/2019|2023-10-08 11:24:00|Ewallet| 430.2|            4.761904762|       21.51|   4.8|
|183-56-6882|     C|Naypyitaw|       Member|Female|  Food and beverages|     99.42|       4| 19.884| 417.564| 2/6/2019|2023-10-08 10:42:00|Ewallet|397.68|            4.761904762|      19.884|   7.5|
|232-16-2483|     C|Naypyitaw|       Member|Female|   Sports and travel|     68.12|       1|  3.406|  71.526| 1/7/2019|2023-10-08 12:28:00|Ewallet| 68.12|            4.761904762|       3.406|   6.8|
|333-73-7901|     C|Naypyitaw|       Normal|Female|   Health and beauty|     54.92|       8| 21.968| 461.328|3/23/2019|2023-10-08 13:24:00|Ewallet|439.36|            4.761904762|      21.968|   7.6|
|554-53-8700|     C|Naypyitaw|       Member|  Male|  Home and lifestyle|     56.11|       2|  5.611| 117.831| 2/2/2019|2023-10-08 10:11:00|   Cash|112.22|            4.761904762|       5.611|   6.3|
|228-96-1411|     C|Naypyitaw|       Member|Female|  Food and beverages|      98.7|       8|  39.48|  829.08| 3/4/2019|2023-10-08 20:39:00|   Cash| 789.6|            4.761904762|       39.48|   7.6|
|617-15-4209|     C|Naypyitaw|       Member|  Male|   Health and beauty|     15.37|       2|  1.537|  32.277|3/16/2019|2023-10-08 19:47:00|   Cash| 30.74|            4.761904762|       1.537|   7.2|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-------+------+-----------------------+------------+------+
only showing top 10 rows

# 2. Get the Unwatched Movie

In [44]:
ratings = spark.read.csv('dataset/ratings.csv',
                         header=True,
                         inferSchema=True)

print('Data shape:', data_shape(ratings))
ratings.show(5)

Data shape: (100836, 4)
+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
+------+-------+------+---------+
only showing top 5 rows

In [45]:
movies = spark.read.csv('dataset/movies.csv',
                        header=True,
                        inferSchema=True)

print('Data shape:', data_shape(movies))
movies.show(5)

Data shape: (9742, 3)
+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

In [84]:
def get_unwatched_movie(userId):
    """return unwatched movie id dataframe"""
    # filter the movie watched by userId
    ratings_user = ratings[ratings['userId']==userId]

    # Then, extract the movieId watched by that user
    watched_id = (ratings_user
                     .select('movieId')
                     .distinct()
                     .toPandas()['movieId']
                     .tolist())

    # Finally, select from movie the unwatched movie
    unwatched_movie = (movies
                          .filter(~movies['movieId'].isin(watched_id))
                          .select(['movieId', 'title', 'genres']))
    
    print('Data shape:', data_shape(unwatched_movie))
    return unwatched_movie

In [87]:
unwatched_movie = get_unwatched_movie(userId = 313)
unwatched_movie.show(5)

Data shape: (9402, 3)
+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

# 3. Get The House Recommendation

In [88]:
houses = spark.read.csv('dataset/travelio_dki_jakarta.csv',
                        header = True,
                        inferSchema = True)

print('Data shape:', data_shape(houses))
houses.show(5)

Data shape: (3725, 16)
+--------------------+-------------+--------------------+-------------+-----------+-------+------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+
|            ads_name|property_type|      apartment_name|         area|     region|   city|          latitude|         longitude|bedrooms|bathrooms| size|  is_furnished|capacity|rating|yearly_price|property_management_type|
+--------------------+-------------+--------------------+-------------+-----------+-------+------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+
|Cozy 1BR at Green...|    apartment|Apartemen Green C...|       Glodok|DKI Jakarta|Jakarta|-6.147707145070255|106.81552469730377|       1|        1| 41.0|Full Furnished|       2|  NULL|    40717500|                     TPM|
|Gading Nias Resid...|    apartment|Apartemen Gading ...|Kelapa Gading|DKI Jakarta|Jakarta|-6.153782044208278|106.91722869873047|       1|        1| 29.0|Full Furnished|       2|   4.9|    23580000|                     TPM|
|Modern and Comfy ...|    apartment|Apartemen The Man...|    Kemayoran|DKI Jakarta|Jakarta|-6.148443176931242|106.85455620288849|       1|        1| 33.0|Full Furnished|       2|   5.0|    50000000|                     TPM|
|Fancy and Nice St...|    apartment|Apartemen Citra L...|    Kalideres|DKI Jakarta|Jakarta|-6.146017734755382|106.70166358351707|  Studio|        1|22.61|Full Furnished|       1|  NULL|    40000000|                     TPM|
|Studio Room at Wa...|    apartment|Guest House Way S...|Tanjung Duren|DKI Jakarta|Jakarta|         -6.181856|        106.788532|  Studio|        1| 15.0|Full Furnished|       2|   5.0|    25602488|                     TPM|
+--------------------+-------------+--------------------+-------------+-----------+-------+------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+
only showing top 5 rows

In [306]:
import math
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import udf, lit

def get_filtered_data(filter_id, filter_value, data):
    """return filtered data"""
    # Get the condition
    if filter_value is None:
        filter_cond = None
    else:
        if filter_id in ['property_type', 'is_furnished']:
            filter_cond = data[filter_id] == filter_value
        elif filter_id in ['size', 'capacity']:
            filter_cond = data[filter_id] >= filter_value
        else:
            filter_cond = data[filter_id] <= filter_value

    # Filter the data
    if filter_cond is None:
        return data
    else:
        return data.filter(filter_cond)

def get_preferenced_data(user_config, data):
    """return the preferenced data"""
    # Get the preferences
    preferences = user_config['preferences']

    # loop for all filter condition
    for filter_id, filter_value in preferences.items():
        print('Filtering on:', filter_id)

        # Get the filtered data
        data = get_filtered_data(filter_id, filter_value, data)
        print('Done! Data shape:', data_shape(data))
        print('')

    # Return data
    print('Final Data Shape:', data_shape(data))
    return data

def calculate_haversine_distance(lat1, lon1, lat2, lon2):
    """return the haversine distance"""
    # First, convert the coordinate to radian
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])
    
    # Apply the function
    delta_lon = lon2 - lon1
    delta_lat = lat2 - lat1
    haver_formula = math.sin(delta_lat/2.0)**2 \
                    + math.cos(lat1) * math.cos(lat2) * math.sin(delta_lon/2.0)**2
    dist = 2 * 6356.752 * math.asin(math.sqrt(haver_formula))
    return round(dist, 4)
    
distance_cols = udf(calculate_haversine_distance, DoubleType())

def get_user_recommendation(n, user_config):
    """get user recommendation"""
    # Pertama, baca dulu dataframenya
    houses = spark.read.csv('dataset/travelio_dki_jakarta.csv',
                            header = True,
                            inferSchema = True)

    # Cari preferenced houses
    preferenced_houses = get_preferenced_data(user_config, houses)

    # Buat data distance
    print('')
    print('Sort the data based on user distance')
    preferenced_houses = (preferenced_houses
                            .withColumn('lat_user', lit(user_config['location']['latitude']))
                            .withColumn('lon_user', lit(user_config['location']['longitude'])))

    preferenced_houses = (preferenced_houses
                            .withColumn('distance', distance_cols(preferenced_houses['latitude'],
                                                                  preferenced_houses['longitude'],
                                                                  preferenced_houses['lat_user'],
                                                                  preferenced_houses['lon_user'])))

    # Cari rekomendasi
    final_houses = (preferenced_houses
                        .sort(['distance'], ascending=[True])
                        .drop(*['lat_user', 'lon_user'])
                        .limit(n))

    print('Done! Final data shape:', data_shape(final_houses))
    return final_houses

In [308]:
# Define the user data
user_config = {
    'preferences': {
        'property_type': None,
        'size': 45.0,
        'capacity': 4,
        'is_furnished': None,
        'yearly_price': 25000000
    },
    'location': {
        # Dekat Monumen Nasional (Monas)
        'latitude': -6.1792,
        'longitude': 106.8265
    }
}

final_houses = get_user_recommendation(n=10, user_config=user_config)
final_houses.show()

Filtering on: property_type
Done! Data shape: (3725, 16)

Filtering on: size
Done! Data shape: (1232, 16)

Filtering on: capacity
Done! Data shape: (809, 16)

Filtering on: is_furnished
Done! Data shape: (809, 16)

Filtering on: yearly_price
Done! Data shape: (10, 16)

Final Data Shape: (10, 16)

Sort the data based on user distance
Done! Final data shape: (10, 17)
+--------------------+-------------+--------------------+-------------------+-----------+-------+-------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+--------+
|            ads_name|property_type|      apartment_name|               area|     region|   city|           latitude|         longitude|bedrooms|bathrooms| size|  is_furnished|capacity|rating|yearly_price|property_management_type|distance|
+--------------------+-------------+--------------------+-------------------+-----------+-------+-------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+--------+
|Unfurnished 2BR a...|    apartment|Apartemen Gading ...|      Kelapa Gading|DKI Jakarta|Jakarta| -6.147627141545745|106.91625773906708|       2|        1|48.37|   Unfurnished|       4|   5.0|    25000000|                  REALTY| 10.5021|
|2BR Unfurnished A...|    apartment|Apartemen Gading ...|      Kelapa Gading|DKI Jakarta|Jakarta| -6.147629808330085| 106.9162617623806|       2|        1|48.37|   Unfurnished|       4|  NULL|    22999999|                  REALTY| 10.5024|
|Unfurnished 2BR H...|        house|                NULL|Halim Perdanakusuma|DKI Jakarta|Jakarta| -6.266901014589053|106.87773081349185|       2|        2| 90.0|   Unfurnished|       4|  NULL|    25000000|                  REALTY| 11.2517|
|Strategic 3BR Hou...|        house|                NULL|      Jakarta Utara|DKI Jakarta|Jakarta|          -6.116879|         106.92753|       3|        3|108.0|Full Furnished|       6|  NULL|    24000000|                  REALTY| 13.1151|
|Unfurnished 4BR H...|        house|                NULL|      Jakarta Utara|DKI Jakarta|Jakarta|          -6.106318|        106.920193|       4|        1| 93.0|   Unfurnished|       9|  NULL|    22000000|                  REALTY| 13.1225|
|Unfurnished 2BR a...|    apartment|Apartemen Paradis...|          Kalideres|DKI Jakarta|Jakarta|  -6.13152985450916| 106.7027984932065|       2|        1|45.98|   Unfurnished|       4|  NULL|    21000000|                  REALTY| 14.6342|
|Unfurnished 2BR H...|        house|                NULL|      Jakarta Utara|DKI Jakarta|Jakarta|          -6.137113|        106.956038|       2|        1| 60.0|   Unfurnished|       4|  NULL|    23000000|                  REALTY| 15.0324|
|Unfurnished 2BR H...|        house|                NULL|          Kebagusan|DKI Jakarta|Jakarta| -6.318912777233979|106.82515901400579|       2|        1| 70.0|   Unfurnished|       4|  NULL|    25000000|                  REALTY| 15.5013|
|Unfurnished 2BR H...|        house|                NULL|         Pasar Rebo|DKI Jakarta|Jakarta|          -6.332795|        106.865617|       2|        2|100.0|   Unfurnished|       4|  NULL|    24000000|                  REALTY| 17.5784|
|Combined and Spac...|    apartment|Apartemen Tokyo R...|              PIK 2|DKI Jakarta|Jakarta|-6.0424281578319485|106.69224500656128|       3|        2| 57.0|   Unfurnished|       6|  NULL|    23000000|                  REALTY|  21.204|
+--------------------+-------------+--------------------+-------------------+-----------+-------+-------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+--------+

In [309]:
# Define the user data
user_config = {
    'preferences': {
        'property_type': None,
        'size': 60.0,
        'capacity': 4,
        'is_furnished': None,
        'yearly_price': 25000000
    },
    'location': {
        # Dekat Kota Tua Jakarta
        'latitude': -6.1378,
        'longitude': 106.8144
    }
}

final_houses = get_user_recommendation(n=10, user_config=user_config)
final_houses.show()

Filtering on: property_type
Done! Data shape: (3725, 16)

Filtering on: size
Done! Data shape: (869, 16)

Filtering on: capacity
Done! Data shape: (664, 16)

Filtering on: is_furnished
Done! Data shape: (664, 16)

Filtering on: yearly_price
Done! Data shape: (6, 16)

Final Data Shape: (6, 16)

Sort the data based on user distance
Done! Final data shape: (6, 17)
+--------------------+-------------+--------------+-------------------+-----------+-------+------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+--------+
|            ads_name|property_type|apartment_name|               area|     region|   city|          latitude|         longitude|bedrooms|bathrooms| size|  is_furnished|capacity|rating|yearly_price|property_management_type|distance|
+--------------------+-------------+--------------+-------------------+-----------+-------+------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+--------+
|Unfurnished 4BR H...|        house|          NULL|      Jakarta Utara|DKI Jakarta|Jakarta|         -6.106318|        106.920193|       4|        1| 93.0|   Unfurnished|       9|  NULL|    22000000|                  REALTY| 12.1819|
|Strategic 3BR Hou...|        house|          NULL|      Jakarta Utara|DKI Jakarta|Jakarta|         -6.116879|         106.92753|       3|        3|108.0|Full Furnished|       6|  NULL|    24000000|                  REALTY| 12.6937|
|Unfurnished 2BR H...|        house|          NULL|      Jakarta Utara|DKI Jakarta|Jakarta|         -6.137113|        106.956038|       2|        1| 60.0|   Unfurnished|       4|  NULL|    23000000|                  REALTY| 15.6243|
|Unfurnished 2BR H...|        house|          NULL|Halim Perdanakusuma|DKI Jakarta|Jakarta|-6.266901014589053|106.87773081349185|       2|        2| 90.0|   Unfurnished|       4|  NULL|    25000000|                  REALTY| 15.9358|
|Unfurnished 2BR H...|        house|          NULL|          Kebagusan|DKI Jakarta|Jakarta|-6.318912777233979|106.82515901400579|       2|        1| 70.0|   Unfurnished|       4|  NULL|    25000000|                  REALTY| 20.1288|
|Unfurnished 2BR H...|        house|          NULL|         Pasar Rebo|DKI Jakarta|Jakarta|         -6.332795|        106.865617|       2|        2|100.0|   Unfurnished|       4|  NULL|    24000000|                  REALTY| 22.3593|
+--------------------+-------------+--------------+-------------------+-----------+-------+------------------+------------------+--------+---------+-----+--------------+--------+------+------------+------------------------+--------+

# 4. Export the Promising State

In [310]:
sales = spark.read.csv('dataset/Amazon Sale Report.csv',
                       header = True,
                       inferSchema = True)

print('Data shape:', data_shape(sales))
sales.show()

Data shape: (128975, 24)
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|index|           Order ID|    Date|              Status|Fulfilment|Sales Channel |ship-service-level|   Style|                SKU|     Category|Size|      ASIN|Courier Status|Qty|currency|Amount|  ship-city|    ship-state|ship-postal-code|ship-country|       promotion-ids|  B2B|fulfilled-by|Unnamed: 22|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|    0|405-8078784-5731545|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|  SET389|     SET389-KR-NP-S|          Set|   S|B09KXVBD7Z|          NULL|  0|     INR|647.62|     MUMBAI|   MAHARASHTRA|        400081.0|          IN|                NULL|false|   Easy Ship|       NULL|
|    1|171-9198151-1101146|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3781|    JNE3781-KR-XXXL|        kurta| 3XL|B09K3WFS32|       Shipped|  1|     INR| 406.0|  BENGALURU|     KARNATAKA|        560085.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|    2|404-0687676-7273146|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3371|      JNE3371-KR-XL|        kurta|  XL|B07WV4JV4D|       Shipped|  1|     INR| 329.0|NAVI MUMBAI|   MAHARASHTRA|        410210.0|          IN|IN Core Free Ship...| true|        NULL|       NULL|
|    3|403-9615377-8133951|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|   J0341|         J0341-DR-L|Western Dress|   L|B099NRCT7B|          NULL|  0|     INR|753.33| PUDUCHERRY|    PUDUCHERRY|        605008.0|          IN|                NULL|false|   Easy Ship|       NULL|
|    4|407-1069790-7240320|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3671|    JNE3671-TU-XXXL|          Top| 3XL|B098714BZP|       Shipped|  1|     INR| 574.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                NULL|false|        NULL|       NULL|
|    5|404-1490984-4578765|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET264|    SET264-KR-NP-XL|          Set|  XL|B08YN7XDSG|       Shipped|  1|     INR| 824.0|  GHAZIABAD| UTTAR PRADESH|        201102.0|          IN|IN Core Free Ship...|false|        NULL|       NULL|
|    6|408-5748499-6859555|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|   J0095|        J0095-SET-L|          Set|   L|B08CMHNWBN|       Shipped|  1|     INR| 653.0| CHANDIGARH|    CHANDIGARH|        160036.0|          IN|IN Core Free Ship...|false|        NULL|       NULL|
|    7|406-7807733-3785945|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|       JNE3405-KR-S|        kurta|   S|B081WX4G4Q|       Shipped|  1|     INR| 399.0|  HYDERABAD|     TELANGANA|        500032.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|    8|407-5443024-5233168|04-30-22|           Cancelled|    Amazon|     Amazon.in|         Expedited|  SET200|SET200-KR-NP-A-XXXL|          Set| 3XL|B08L91ZZXN|     Cancelled|  0|    NULL|  NULL|  HYDERABAD|     TELANGANA|        500008.0|          IN|IN Core Free Ship...|false|        NULL|       NULL|
|    9|402-4393761-0311520|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3461|     JNE3461-KR-XXL|        kurta| XXL|B08B3XF5MH|       Shipped|  1|     INR| 363.0|    Chennai|    TAMIL NADU|        600041.0|          IN|                NULL|false|        NULL|       NULL|
|   10|407-5633625-6970741|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3160|     JNE3160-KR-G-S|        kurta|   S|B07K3YQLF1|       Shipped|  1|     INR| 685.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                NULL|false|        NULL|       NULL|
|   11|171-4638481-6326716|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3500|      JNE3500-KR-XS|        kurta|  XS|B098117DJ3|       Shipped|  1|     INR| 364.0|      NOIDA| UTTAR PRADESH|        201303.0|          IN|                NULL|false|        NULL|       NULL|
|   12|405-5513694-8146768|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|      JNE3405-KR-XS|        kurta|  XS|B081XCMYXJ|       Shipped|  1|     INR| 399.0|  Amravati.|   MAHARASHTRA|        444606.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|   13|408-7955685-3083534|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET182|    SET182-KR-DH-XS|          Set|  XS|B085HS947T|       Shipped|  1|     INR| 657.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|                NULL|false|        NULL|       NULL|
|   14|408-1298370-1920302|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|   J0351|        J0351-SET-L|          Set|   L|B09CSSQY4F|       Shipped|  1|     INR| 771.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|   15|403-4965581-9520319|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|PJNE3368|    PJNE3368-KR-6XL|        kurta| 6XL|B09PY99SVJ|       Shipped|  1|     INR| 544.0|   GUNTAKAL|ANDHRA PRADESH|        515801.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|   16|406-9379318-6555504|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3721|     JNE3721-KR-XXL|        kurta| XXL|B099FCT65D|       Shipped|  1|     INR| 329.0|     JAIPUR|     RAJASTHAN|        302020.0|          IN|IN Core Free Ship...|false|        NULL|       NULL|
|   17|405-9013803-8009918|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3405|      JNE3405-KR-XL|        kurta|  XL|B081WT6GG7|       Shipped|  1|     INR| 399.0|  NEW DELHI|         DELHI|        110074.0|          IN|                NULL|false|        NULL|       NULL|
|   18|402-4030358-5835511|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3697|     JNE3697-KR-XXL|        kurta| XXL|B098133PV5|       Shipped|  1|     INR| 458.0|    Gurgaon|       HARYANA|        122004.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|   19|405-5957858-1051546|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET254|    SET254-KR-NP-XS|          Set|  XS|B0983DDPL6|       Shipped|  1|     INR| 886.0|  BENGALURU|     KARNATAKA|        560017.0|          IN|                NULL|false|        NULL|       NULL|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
only showing top 20 rows

In [316]:
(sales.limit(10).write
    .option('header', 'true')
    .csv('/dataset_final'))